<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Dance Website</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="/static/img/dancelogo.png" alt="Dance">
                SDA
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="introsection">
        <div class="big">Welcome to Samuel's Dance Academy</div>
        <div class="small">Dancers don't need wings to fly</div>
    </section>
    <section id="missionsection">
        <div class="heading">
            <h2>Our Missions</h2>
        </div>
        <div class="cards">
            <div class="card">
                <h3>Igniting Passion for Dance</h3>
                <div class="card-box">
                    <div class="card-img">
                        <img src="/static/img/dance01.png" alt="Dance">
                    </div>
                    <div class="card-content">
                        <p>Our mission is to ignite and fuel the passion for dance in every individual fostering a
                            lifelong love for this art form.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h3>Empowering Artistic Excellence</h3>
                <div class="card-box">
                    <div class="card-img">
                        <img src="/static/img/dance02.png" alt="Dance">
                    </div>
                    <div class="card-content">
                        <p>We're dedicated to empowering dancers to achieve artistic excellence, nurturing their
                            creativity and precision.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h3>Building Confidence Through Dance</h3>
                <div class="card-box">
                    <div class="card-img">
                        <img src="/static/img/dance03.png" alt="Dance">
                    </div>
                    <div class="card-content">
                        <p>Our mission is to build confidence and self-expression through dance, empowering individuals
                            to shine on and off the stage.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sponsorssection">
        <div class="headingsp">
            <h2>Our Sponsors</h2>
        </div>
        <div id="sponsors">
            <img src="/static/img/logo01.png" alt="sponsors" class="spImg">
            <img src="/static/img/logo2.png" alt="sponsors" class="spImg">
            <img src="/static/img/logo3.png" alt="sponsors" class="spImg">
            <img src="/static/img/logo4.png" alt="sponsors" class="spImg">
        </div>
    </section>
    <footer id="footer">
        Copyright &copy 2023 SamuelDanceAcademy.com | All rights reserved
    </footer>
</body>

</html>